<% include ./partials/boilerplate.ejs %>

    <body>

        <div class="form">
            <form  action="/database/single/<%= data.id%>/?_method=PUT" method="POST">
                <input id="title" type="text" name="title" value="<%= article.title %>" />
                <input id="author" type="text" name="author" value="<%= article.author %>" />
                <input id="description" type="text" name="description" value="<%= article.description %>" />
                <input id="url" type="text" name="url" value="<%= article.url %>" />
                <input type="submit" value="submit"/>
            </form>
        </div>

    </body>

<% include ./partials/end.ejs %>
