<% include ./partials/boilerplate.ejs %>

    <body>

        <header>
            <nav>
                <ul>
                    <li class="title">Edit Me</li>
                    <li><a href="/database">Go back</a></li>
                </ul>
            </nav>
        </header>


        <div class="form">
            <form  action="/database/single/<%= data.id%>/?_method=PUT" method="POST">
                <input type="text" name="title" value="<%= article.title %>" />
                <input type="text" name="author" value="<%= article.author %>" />
                <input type="text" name="description" value="<%= article.description %>" />
                <input type="text" name="url" value="<%= article.url %>" />
                <input id="submit" type="submit" value="submit"/>
            </form>
        </div>

    </body>

<% include ./partials/end.ejs %>
