<% include ./partials/boilerplate.ejs %>

    <body class="homepage">

        <header>
            <nav>
                <ul>
                    <li><h1 class="title">READ ME</h1></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>

        <div class="article">

            <form class="" action="/database/single/<%= article.id %>?_method=DELETE" method="POST">
                <input id="title" type="text" name="title" value="<%= article.title %>" />
                <input id="author" type="text" name="author" value="<%= article.author %>" />
                <input id="description" type="text" name="description" value="<%= article.description %>..." />
                <a href="<%= article.url %>"><i id="view" class="fas fa-desktop"></i></a>
                <a href="/database/single/<%= article.id %>/edit"><i id="view" class="fas fa-pencil-alt"></i></a>
                <input type="submit" value="delete" class="inline"/>
            </form>
        </div>
    </body>


<% include ./partials/end.ejs %>
